<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="x-UA-compatible" content="ie-edge">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/estilo.css">
    <title> KDE-INVENTARY </title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-4 formulario">
                <form action="">
                    <div class="form-group text-center pt-3">
                        <h1 class="text-light">INICIAR SESÍON</h1>
                    </div>
                    <div class="form-group mx-sm-4 pb-3">
                        <input type="text" class="form-control" placeholder="Usuario">
                    </div>
                    <div class="form-group mx-sm-4 pb-3">
                        <input type="password" class="form-control" placeholder="contraseña">
                    </div>
                    <div class="form-group mx-sm-4 pb-3">
                        <input href="#" type="submit" class="btn btn-block ingresar" value="INGRESAR">
                    </div>
                    <div class="text-center p-t-12">
						<span class="txt1">Recuperar</span>
						<a class="txt2" href="file:///C:/Users/slime/Desktop/KDE-INVENTARY/views/contraseña.html">Contraseña</a>
					</div>
                </form>
            </div>
        </div>
    </div>


    <script src="../resources/js/jquery-3.4.1.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
</body>
