<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="x-UA-compatible" content="ie-edge">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/estilo.css">
    <title> KDE-INVENTARY </title>
</head>

<body>
    <div class=".container-fluid">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-9 formulario">
                <form action="">    
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Proveedores</h5>
                                    <p class="card-text">Visualizar Proveedores.</p>
                                    <a href="#" class="btn btn-primary">ir...</a>
                                </div>
                            </div>
                        </div>
                        <!--===============================================================================================-->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Producto</h5>
                                    <p class="card-text">Visualizar Productos.</p>
                                    <a href="#" class="btn btn-primary">ir...</a>
                                </div>
                            </div>
                        </div>
                        <!--===============================================================================================-->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Compras</h5>
                                    <p class="card-text">Visualizar Compras.</p>
                                    <a href="#" class="btn btn-primary">ir...</a>
                                </div>
                            </div>
                        </div>
                          <!--===============================================================================================-->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Pedidos</h5>
                                    <p class="card-text">Visualizar Pedidos.</p>
                                    <a href="#" class="btn btn-primary">ir...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--==========================================columna 2=====================================================-->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Usuarios</h5>
                                    <p class="card-text">Visualizar Usuarios.</p>
                                    <a href="#" class="btn btn-primary">ir...</a>
                                </div>
                            </div>
                        </div>
                        <!--===============================================================================================-->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Facturas</h5>
                                    <p class="card-text">Visualizar facturas.</p>
                                    <a href="#" class="btn btn-primary">ir...
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--===============================================================================================-->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Reportes</h5>
                                    <p class="card-text">Visualizar Reportes.</p>
                                    <a href="#" class="btn btn-primary">ir...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="../resources/js/jquery-3.4.1.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
</body>
