<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="x-UA-compatible" content="ie-edge">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/estilo.css">
    <title> KDE-INVENTARY </title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-9 formulario">
                <form action="">
                    <div class="container">
                        <div class="row">
                          <div class="col-sm">
                            <div class="form-group mx-sm-4 pb-3">
                                <input type="text" class="form-control" placeholder="Id">
                            </div>
                            <div class="form-group mx-sm-4 pb-3">
                                <input type="text" class="form-control" placeholder="Producto">
                            </div>
                            <div class="form-group mx-sm-4 pb-3">
                                <input type="text" class="form-control" placeholder="stock minino">
                            </div>
                            <div class="form-group mx-sm-4 pb-3">
                                <input type="text" class="form-control" placeholder="categoria">
                            </div>
                            <div class="form-group mx-sm-4 pb-3">
                                <input type="text" class="form-control" placeholder="Compra">
                            </div>
                            <div class="form-group mx-sm-4 pb-3">
                                <input type="text" class="form-control" placeholder="$">
                            </div>
                            <div class="form-group mx-sm-4 pb-3">
                                <input type="text" class="form-control" placeholder="   /   /">
                            </div>
                          </div>
                          <div class="col-sm">
                            <div class="form-group mx-sm-4 pb-3">
                                <input type="text" class="form-control" placeholder="Buscar">
                            </div>
                            <div class="form-group mx-sm-4 pb-5">
                                <input type="submit" class="btn btn-block Agregar" value="Agregar">
                            </div>
                            <div class="form-group mx-sm-4 pb-5">
                                <input type="submit" class="btn btn-block Modificar" value="Modificar">
                            </div>
                            <div class="form-group mx-sm-4 pb-5">
                                <input type="submit" class="btn btn-block Eliminar" value="Eliminar">
                            </div>
                            <div class="form-group mx-sm-4 pb-5">
                                <input type="submit" class="btn btn-block Limpiar" value="Limpiar">
                            </div>
                          </div>
                          <div class="col-sm">
                            <table class="table">
                                <div class="form-group mx-sm-4 pb-3">
                                    <input type="text" class="form-control" placeholder="Buscar">
                                </div>
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Vencimiento</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Ricardo</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Amanda</td>
                                  </tr>
                                  <tr>
                                    <td>hola</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <td>Sector</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
    


    <script src="../resources/js/jquery-3.4.1.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
</body>
